<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col class="header-title" size="8">
        <p class="header-title">Minha Turma</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let class of classArray">
    <ion-row>
      <p class="subject">{{class.name}}</p>
    </ion-row>

    <ion-row>
      <ion-col class="subject-subtitle">
        Turma {{class.class}} - Semestre {{class.period}} - Lista de Presença
      </ion-col>
    </ion-row>
  </div>

  <ion-item>
    <ion-label>Data</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Data">
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-row class="table-header">
    <ion-col size="8">
      Aluno
    </ion-col>
    <ion-col>
      Presença
    </ion-col>
  </ion-row>

  <div *ngFor="let name of studentName">
    <ion-row>
      <ion-col size="3">
        <ion-avatar class="avatar">
          <img src="../../../assets/images/avatar.png" />
        </ion-avatar>
      </ion-col>
      <ion-col class="student" size="6">
        {{name}}<br>
      </ion-col>
    </ion-row>
  </div>
  <div *ngFor="let perfomance of studentPerformance">
    <ion-row>
      <ion-col>
        <p class="amountAbsense">{{perfomance}} falta(s) no semestre</p>
      </ion-col>
      <ion-col class="checkbox" size="3">
        <ion-checkbox class="checkbox-child" mode="md" color="success"></ion-checkbox>
      </ion-col>
      <ion-item class="emptyItem">
        <ion-row></ion-row>
      </ion-item>
    </ion-row>
  </div>

  <ion-fab class="cameraButton" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCamera()" color="success" fill="clear">
      <ion-icon mode="md" name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="savePresence()" color="primary" shape="round">
      Salvar
    </ion-button>
  </ion-fab>

</ion-content>