<ion-header>
  <ion-toolbar>
    <ion-title>Universidade São Judas Tadeu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="padding-top">
      Olá, <b>{{userData.name}}</b>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="padding-top">
      Turma: ECP6AN-MCA
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Curso: Engenharia de Computação
    </ion-col>
  </ion-row>
  <ion-row class="table-subject margin-top">
    <b class="subjects-bold">
      <ion-toolbar>
        <ion-col class="margin">Disciplina</ion-col>
        <ion-col class="margin">Faltas</ion-col>
        <ion-col class="margin">Notas</ion-col>
      </ion-toolbar>
    </b>
  </ion-row>
  <!-- <ion-row>
    <ion-col>
      <div *ngFor="let subject of subjects">
        <h3>{{subject.name}}</h3>
      </div>
    </ion-col>
  </ion-row> -->
</ion-content>