<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col class="home-icon" size="2">
        <ion-icon name="book" size="large"></ion-icon>
      </ion-col>
      <ion-col class="header-title" size="8">
        <p>College Interaction</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="blue-background"></div>
  <div class="image-background">
    <ion-row class="texts">
      <ion-col size="12">
        <p class="image-title">Olá, Pedro</p>
      </ion-col>
      <ion-col size="12">
        <p>Abaixo você encontrará os detalhes de suas respectivas turmas, podendo realizar a presença de seus alunos.
        </p>
      </ion-col>
    </ion-row>
  </div>


  <div class="subjects">
    <ion-row>
      <ion-col class="subject">
        Cálculo Diferencial
      </ion-col>
    </ion-row>
    <ion-row (click)="registeringPresence()" class="first-item">
      <ion-col size="10">
        <ion-item>
          Turma ECP6AN-MCA
        </ion-item>
      </ion-col>
      <ion-col class="arrow-icon">
        <ion-icon name="arrow-forward" color="success"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          Turma ECP5AN-MCA
        </ion-item>
      </ion-col>
      <ion-col class="arrow-icon">
        <ion-icon name="arrow-forward" color="success"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          Turma ECP5AN-MCA
        </ion-item>
      </ion-col>
      <ion-col class="arrow-icon">
        <ion-icon name="arrow-forward" color="success"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="subject">
        Cálculo Integral
      </ion-col>
    </ion-row>
    <ion-row class="first-item">
      <ion-col size="10">
        <ion-item>
          Turma ECP4AN-MCA
        </ion-item>
      </ion-col>
      <ion-col class="arrow-icon">
        <ion-icon name="arrow-forward" color="success"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          Turma ECP3AN-MCA
        </ion-item>
      </ion-col>
      <ion-col class="arrow-icon">
        <ion-icon name="arrow-forward" color="success"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          Turma ECP7AN-MCA
        </ion-item>
      </ion-col>
      <ion-col class="arrow-icon">
        <ion-icon name="arrow-forward" color="success"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="subject">
        Sistemas Operacionais
      </ion-col>
    </ion-row>
    <ion-row class="first-item">
      <ion-col size="10">
        <ion-item>
          Turma ECP8AN-MCA
        </ion-item>
      </ion-col>
      <ion-col class="arrow-icon">
        <ion-icon name="arrow-forward" color="success"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          Turma ECP9AN-MCA
        </ion-item>
      </ion-col>
      <ion-col class="arrow-icon">
        <ion-icon name="arrow-forward" color="success"></ion-icon>
      </ion-col>
    </ion-row>

  </div>
</ion-content>