<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col class="home-icon" size="2">
        <ion-icon name="book" size="large"></ion-icon>
      </ion-col>
      <ion-col class="header-title" size="8">
        <p>College Interaction</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="blue-background"></div>
  <div class="image-background">
    <ion-row class="texts">
      <ion-col size="12">
        <p class="image-title">Olá, {{userName}}</p>
      </ion-col>
      <ion-col size="12">
        <p>Abaixo você poderá acompanhar a sua rotina na faculdade, como as matérias do semestre atual, notas e faltas.
        </p>
      </ion-col>
    </ion-row>
  </div>

  <div class="subjects">
    <ion-row class="title-home">
      <ion-col size="6">
        <h3>Faltas</h3>
      </ion-col>
      <ion-col>
        <h3>Nota</h3>
      </ion-col>
    </ion-row>

    <div *ngFor="let subject of subjectsArray">
      <ion-row>
        <ion-col class="subject">
          {{subject}}
        </ion-col>
      </ion-row>

      <ion-row class="grade-absense">
        <ion-col size="6">
          {{userAbsense}} faltas
        </ion-col>
        <ion-col>
          {{userGrade}}
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>