<ion-content class="ion-padding">

  <ion-segment (ionChange)="segmentChanged($event)" class="ion-segment-buttons" mode="md">

    <ion-segment-button value="aluno">
      <ion-label>Aluno</ion-label>
    </ion-segment-button>

    <ion-segment-button value="professor">
      <ion-label>Professor</ion-label>
    </ion-segment-button>

  </ion-segment>


  <form class="form" [formGroup]="userForm" (ngSubmit)="onSign(userForm.value.user, userForm.value.password)">

    <ion-item class="ion-margin-top">
      <ion-label position="floating">
        RA
      </ion-label>
      <ion-input formControlName="user" type="text">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top ion-margin-bottom">
      <ion-label position="floating">
        SENHA
      </ion-label>
      <ion-input type="password" formControlName="password">
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" color="primary" class="enter-button ion-margin-bottom"  [disabled]="false">
      Entrar
    </ion-button>

  </form>
  <ion-label class="ion-margin-top"><a>Esqueceu a senha?</a></ion-label>
</ion-content>