<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="home-icon">
        <ion-icon color="primary" name="book" size="large"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="title" size="12">
        <p><b>College Interaction</b></p>
      </ion-col>
      <ion-col class="title-subtitle">
        <p>Conectando alunos e professores.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="subtitle">
        <p color="primary">Seja bem vindo(a)!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="subtitle-text">
        <p>Um aplicativo para alunos e professores terem acesso as suas rotinas acadêmicas.</p>
        <p>Utilizando reconhecimento facial para marcar presença.<br><br>
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="buttons">
      <ion-col size="6">
        <ion-button class="button1" color="success" shape="round" (click)="iamStudent()">Sou aluno(a)</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" shape="round" (click)="iamProfessor()">Sou professor(a)</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>