<ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col class="home-icon" size="2">
                <ion-icon name="book" size="large"></ion-icon>
            </ion-col>
            <ion-col class="header-title" size="8">
                <p>College Interaction</p>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p class="title">Minha Agenda</p>


    <div class="schedule" *ngFor="let event of eventsArr">
        <ion-item>
            <ion-row class="item">
                <ion-col size="10">
                    {{event.description}}
                </ion-col>
                <ion-col class="second-item">
                    {{event.date}}
                </ion-col>
            </ion-row>
            <ion-icon (click)="delete(event.description, event.date)" slot="end" name="trash" mode="ios" size="large" color="danger"></ion-icon>
        </ion-item>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addEvent()" color="success" fill="clear">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>