<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col class="home-icon" size="2">
        <ion-icon name="book" size="large"></ion-icon>
      </ion-col>
      <ion-col class="header-title" size="8">
        <p>College Interaction</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="title">Minha Agenda</p>
  <div class="schedule">
    <ion-row class="first-item">
      <ion-col>
        Prova - ECP6AN-MCA
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-col class="second-item" size="10">
          [23/11/2019 - 19h10]
        </ion-col>
        <ion-col>
          <ion-icon name="trash" mode="ios" size="large" color="danger"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row class="first-item">
      <ion-col>
        Atividade - ECP7AN-MCA
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-col class="second-item" size="10">
          [27/11/2019 - 21h00]
        </ion-col>
        <ion-col>
          <ion-icon name="trash" mode="ios" size="large" color="danger"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row class="first-item">
      <ion-col>
        Atividade - ECP9AN-MCA
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-col class="second-item" size="10">
          [01/12/2019 - 19h10]
        </ion-col>
        <ion-col>
          <ion-icon name="trash" mode="ios" size="large" color="danger"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row class="first-item">
      <ion-col>
        Prova - ECP8AN-MCA
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-col class="second-item" size="10">
          [30/11/2019 - 21h00]
        </ion-col>
        <ion-col>
          <ion-icon name="trash" mode="ios" size="large" color="danger"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>