<ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col class="home-icon" size="2">
                <ion-icon name="book" size="large"></ion-icon>
            </ion-col>
            <ion-col class="header-title" size="8">
                <p>College Interaction</p>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="6">
            <ion-avatar class="avatar">
                <img src="../../../../assets/images/cadeiras.jpg" />
            </ion-avatar>
        </ion-col>

        <ion-col class="avatar-name">
            <h4>{{professorName}}</h4>
            <p class="profile-type">Perfil - {{professorProfile}}</p>
        </ion-col>
    </ion-row>
    <ion-item>
        <ion-col class="avatar-item">
        </ion-col>
    </ion-item>
    <ion-item>
        <ion-row>
            <ion-col size="10">
                <p class="list-item">Matérias</p>
            </ion-col>
            <ion-col>
                <p class="list-item-child">{{professorSubjects}}</p>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <ion-col size="10">
                <p class="list-item">Telefone</p>
            </ion-col>
            <ion-col>
                <p class="list-item-child">{{professorPhone}}</p>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <ion-col size="10">
                <p class="list-item">E-mail</p>
            </ion-col>
            <ion-col>
                <p class="list-item-child">{{professorEmail}}</p>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-row>
        <ion-button (click)="exit()" fill="clear"> 
            <ion-icon slot="icon-only" size="large"class="exit-button" color="danger" name="arrow-dropleft"></ion-icon>
        </ion-button>
        <p class="exit-text">SAIR</p>
    </ion-row>
</ion-content>